# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking'].values

# Display a sample of y
y[:5]

array([0, 0, 0, 1, 0], dtype=int64)

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop('credit_ranking', axis=1)

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Fit the scaler to the features test dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
input_features = len(X.columns)

# Review the number of features
print(input_features)

11

In [10]:
# Define the number of hidden nodes for the first hidden layer
h1_nodes = 6

# Define the number of hidden nodes for the second hidden layer
h2_nodes = 3

# Define the number of neurons in the output layer
output_nodes = 1

In [11]:
# Create the Sequential model instance
model = Sequential()

# Add the first hidden layer
model.add(Dense(h1_nodes, activation='relu', input_shape=(input_features,)))

# Add the second hidden layer
model.add(Dense(h2_nodes, activation='relu'))

# Add the output layer to the model specifying the number of output neurons and activation function
model.add(Dense(output_nodes, activation='sigmoid'))

In [13]:
# Display the Sequential model summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 3)                 21

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 97
Trainable params: 97
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [14]:
# Compile the Sequential model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')

In [15]:
# Fit the model using 50 epochs and the training data
model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 1s 842us/step - loss: 0.6277 - accuracy: 0.6539
Epoch 2/50
38/38 [==============================] - 0s 699us/step - loss: 0.6082 - accuracy: 0.6631
Epoch 3/50
38/38 [==============================] - 0s 724us/step - loss: 0.5940 - accuracy: 0.6797
Epoch 4/50
38/38 [==============================] - 0s 750us/step - loss: 0.5832 - accuracy: 0.6972
Epoch 5/50
38/38 [==============================] - 0s 736us/step - loss: 0.5745 - accuracy: 0.7006
Epoch 6/50
38/38 [==============================] - 0s 699us/step - loss: 0.5669 - accuracy: 0.6997
Epoch 7/50
38/38 [==============================] - 0s 652us/step - loss: 0.5601 - accuracy: 0.7023
Epoch 8/50
38/38 [==============================] - 0s 676us/step - loss: 0.5537 - accuracy: 0.7106
Epoch 9/50
38/38 [==============================] - 0s 677us/step - loss: 0.5475 - accuracy: 0.7156
Epoch 10/50
38/38 [==============================] - 0s 697us/step - loss: 0.5420 - accuracy: 0.7198
Epoch 11/50
38/38 [==============================] - 0s 707us/step - loss: 0.5368 - accuracy: 0.7206
Epoch 12/50
38/38 [==============================] - 0s 704us/step - loss: 0.5319 - accuracy: 0.7289
Epoch 13/50
38/38 [==============================] - 0s 710us/step - loss: 0.5281 - accuracy: 0.7281
Epoch 14/50
38/38 [==============================] - 0s 917us/step - loss: 0.5241 - accuracy: 0.7281
Epoch 15/50
38/38 [==============================] - 0s 841us/step - loss: 0.5208 - accuracy: 0.7381
Epoch 16/50
38/38 [==============================] - 0s 703us/step - loss: 0.5177 - accuracy: 0.7373
Epoch 17/50
38/38 [==============================] - 0s 664us/step - loss: 0.5145 - accuracy: 0.7406
Epoch 18/50
38/38 [==============================] - 0s 671us/step - loss: 0.5120 - accuracy: 0.7431
Epoch 19/50
38/38 [==============================] - 0s 681us/step - loss: 0.5097 - accuracy: 0.7415
Epoch 20/50
38/38 [==============================] - 0s 666us/step - loss: 0.5078 - accuracy: 0.7398
Epoch 21/50
38/38 [==============================] - 0s 669us/step - loss: 0.5055 - accuracy: 0.7398
Epoch 22/50
38/38 [==============================] - 0s 668us/step - loss: 0.5043 - accuracy: 0.7398
Epoch 23/50
38/38 [==============================] - 0s 673us/step - loss: 0.5024 - accuracy: 0.7389
Epoch 24/50
38/38 [==============================] - 0s 714us/step - loss: 0.5004 - accuracy: 0.7415
Epoch 25/50
38/38 [==============================] - 0s 697us/step - loss: 0.4987 - accuracy: 0.7398
Epoch 26/50
38/38 [==============================] - 0s 648us/step - loss: 0.4968 - accuracy: 0.7448
Epoch 27/50
38/38 [==============================] - 0s 677us/step - loss: 0.4956 - accuracy: 0.7465
Epoch 28/50
38/38 [==============================] - 0s 674us/step - loss: 0.4942 - accuracy: 0.7548
Epoch 29/50
38/38 [==============================] - 0s 663us/step - loss: 0.4926 - accuracy: 0.7581
Epoch 30/50
38/38 [==============================] - 0s 662us/step - loss: 0.4921 - accuracy: 0.7573
Epoch 31/50
38/38 [==============================] - 0s 638us/step - loss: 0.4908 - accuracy: 0.7598
Epoch 32/50
38/38 [==============================] - 0s 661us/step - loss: 0.4897 - accuracy: 0.7598
Epoch 33/50
38/38 [==============================] - 0s 667us/step - loss: 0.4891 - accuracy: 0.7623
Epoch 34/50
38/38 [==============================] - 0s 673us/step - loss: 0.4885 - accuracy: 0.7640
Epoch 35/50
38/38 [==============================] - 0s 681us/step - loss: 0.4876 - accuracy: 0.7640
Epoch 36/50
38/38 [==============================] - 0s 690us/step - loss: 0.4870 - accuracy: 0.7648
Epoch 37/50
38/38 [==============================] - 0s 678us/step - loss: 0.4865 - accuracy: 0.7615
Epoch 38/50
38/38 [==============================] - 0s 662us/step - loss: 0.4857 - accuracy: 0.7665
Epoch 39/50
38/38 [==============================] - 0s 703us/step - loss: 0.4852 - accuracy: 0.7648
Epoch 40/50
38/38 [==============================] - 0s 665us/step - loss: 0.4850 - accuracy: 0.7698
Epoch 41/50
38/38 [==============================] - 0s 675us/step - loss: 0.4840 - accuracy: 0.7698
Epoch 42/50
38/38 [==============================] - 0s 640us/step - loss: 0.4839 - accuracy: 0.7690
Epoch 43/50
38/38 [==============================] - 0s 685us/step - loss: 0.4834 - accuracy: 0.7715
Epoch 44/50
38/38 [==============================] - 0s 684us/step - loss: 0.4825 - accuracy: 0.7706
Epoch 45/50
38/38 [==============================] - 0s 665us/step - loss: 0.4822 - accuracy: 0.7690
Epoch 46/50
38/38 [==============================] - 0s 675us/step - loss: 0.4820 - accuracy: 0.7698
Epoch 47/50
38/38 [==============================] - 0s 673us/step - loss: 0.4814 - accuracy: 0.7690
Epoch 48/50
38/38 [==============================] - 0s 641us/step - loss: 0.4814 - accuracy: 0.7706
Epoch 49/50
38/38 [==============================] - 0s 657us/step - loss: 0.4809 - accuracy: 0.7740
Epoch 50/50
38/38 [==============================] - 0s 758us/step - loss: 0.4806 - accuracy: 0.7723

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [17]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

13/13 [==============================] - 0s 755us/step - loss: 0.5297 - accuracy: 0.7475
Loss: 0.5296602845191956, Accuracy: 0.7475000023841858

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [18]:
# Set the model's file path
model_path = Path('student_loans.keras')

# Export your model to a keras file
model.save(model_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [19]:
# Set the model's file path
model_path = Path('student_loans.keras')

# Load the model to a new object
model = tf.keras.models.load_model(model_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [21]:
# Make predictions with the test data
preds = model.predict(X_test_scaled)

# Display a sample of the predictions
preds[:5]

13/13 [==============================] - 0s 541us/step

array([[0.3835521 ],
       [0.39618105],
       [0.7983453 ],
       [0.72335345],
       [0.9776342 ]], dtype=float32)

In [22]:
# Save the predictions to a DataFrame and round the predictions to binary results
pred_df = pd.DataFrame(preds, columns=['predictions']).round()
pred_df

     predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [24]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, preds.round()))

              precision    recall  f1-score   support

           0       0.71      0.77      0.74       188
           1       0.78      0.73      0.75       212

    accuracy                           0.75       400
   macro avg       0.75      0.75      0.75       400
weighted avg       0.75      0.75      0.75       400

---
## Discuss creating a recommendation system for student loans

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**
- Credit score, personal and family income level: Data could help find loans that the student is more likely to actually qualify for
- Academic field, target degree (associate/bachelor's/master's): Provides data on likely size of the loan the student needs. A medical student might need a different loan compared to a more traditional student

**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**  
- Content based filtering. This would would be good at making recommendations by matching the user's profile to specific attributes of the loan options. It also allows the system to take into account the key attributes of each loan when matching them to each profile.

**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**
1. Data privacy regulations may complicate gathering, storing, and using student financial information. Credit scores are not public information and may have to be willingly reported by the users.
2. Loans offers can change on a regular basis as the financing institutions adapt to the economic environment and their own business objectives. The recommendation system would have to be constantly updating to the current available loans.